<div class="container"></div>
<h1>Karteikarten-Manager</h1>

<!-- Formular zum Hinzufügen einer neuen Karteikarte -->
<div class="card-form">
    <h2>Neue Karteikarte hinzufügen</h2>
    <form id="flashcard-form" [formGroup]="cart">
        <div class="form-group">
            <label for="front">Vorderseite:</label>
            <input formControlName="front" type="text" id="front" name="front" placeholder="Text für die Vorderseite" required>
        </div>
        <div class="form-group">
            <label for="back">Rückseite:</label>
            <input formControlName="back" type="text" id="back" name="back" placeholder="Text für die Rückseite" required>
        </div>
        <button class="main-button" (click)="postCard()">Speichern</button>
    </form>
</div>
<button class="delete-button2" (click)="deleteCard()">Wipe Database
</button>


<!-- Liste der Karteikarten -->
<div class="card-list">
    <h2>Meine Karteikarten</h2>
    <ul id="cards">
        <!-- Dynamisch hinzugefügte Karteikarten erscheinen hier -->
        <li *ngFor="let Card of Cards">
            <div class="card">
            <div class = "card-fields"> 
                <div class="card-front">
                    {{Card.front}}
                </div>
                <div class="card-back">
                    {{Card.back}}
                </div>
              </div>
              <button (click)="deleteCard()" class="delete-button">Löschen</button>
            </div>
        </li>
    </ul>
</div>


